#recordsContainer{
  padding: 3rem;
}

#headers-input{
  text-align: center;
}

#data tr:nth-child(odd){background-color: #f2f2f2}

#data tr:hover{background-color: #ddd}

table{
  border-collapse: collapse;
}

th{
  background-color: #597178;
  color: white;
}

td, th{
  padding: 10px;
  height: 35px;
  border: 1px solid #cdcdcd;
}

input{
  padding: 6px;
}

input:focus{outline: none}

.long{
  width: 200px;
}

.short{
  width: 100px;
  text-align: center;
}

.longI{
  width: 184px;
}

.shortI{
  width: 84px;
}

button{
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 80px;
  border: 1px solid lightgray;
}

.totalProfit{
  text-align: center;
}

.totalProfit.W{
  color: #37a63a;
  font-weight: bold;
}

.totalProfit.L{
  color: #c92a2a;
  font-weight: bold;
}

.taxOn{
  background-color: #ddd;
}

.Won{
  background-color: #37a63a;
  color: white;
  font-weight: bold;
}

.Lost{
  background-color: #c92a2a;
  color: white;
  font-weight: bold;
}

.Return{
  background-color: #1c81e6;
  color: white;
  font-weight: bold;
}