body{
    font-family: 'Jura', sans-serif;
}
#nav{
    width: 100%;
    background-color: #ddd;
    display: flex;
    font-weight: 350;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#right{
    background-color: #597178;
    float: right;
    width: 30%;
    height: 800px;
    padding-top: 100px;
    text-align: center;
}

#left{
    float: left;
    width: 70%;
}